aside.sidebar {
    background-color: $white;
    border-right: 1px solid $lightGrey2;
    height: 100%;
    left: -20%;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 2rem 0;
    position: fixed;
    top: 80px;
    width: 15%;
    z-index: 1;

    a.brand {
        color: $primary;
        display: block;
        font-size: 2rem;
        margin-bottom: 1rem;
        padding: .5rem 1rem;
        text-decoration: none;
        width: 100%;
    }

    ul.sidebar-nav {
        list-style-type: none;

        padding: 0;
        max-width: 100%;
        li {
            margin-bottom: 10px;
            width: 100%;
            a {
                background-color: transparent;
                color: $offBlack;
                display: block;
                font-size: 1.1rem;
                padding: .25rem 1rem;
                text-decoration: none;
                @include transition(all .4s ease-in-out);
                word-break: break-word;
                white-space: normal;
                width: 100%;

                &:hover,
                &.active {
                    background-color: transparent;
                    border: 0;
                    box-shadow: none;
                    color: $primary;
                    outline: none;
                    opacity: 1;
                    text-decoration: none;
                }
            }

            &.dropdown {
                width: 100%;

                a.dropdown-toggle {
                    cursor: pointer;

                    &:after {
                        @include transition(all .4s ease-in-out);
                    }

                    &.show {

                        &::after {

                        }
                    }
                }

                ul.dropdown-menu {
                    background-color: $white;
                    border: 0;
                    padding: .5rem 1.5rem;
                    position: relative !important;
                    width: 100%;

                    li {
                        margin-bottom: 5px;
                        a {
                            font-size: 1rem;
                        }
                    }

                    &.show {
                        position: relative !important;
                        transform: translate(0px, 0px) !important;
                    }
                }
                &.dropdown {
                    a.dropdown-toggle {

                        &.show {
                            color: $secondry;
                        }
                    }
                    ul.submenu-dropdown-menu {
                        padding: .5rem;
                        li {
                            margin-bottom: 0;
                            a {
                                font-size: 1rem;
                                padding-bottom: .25rem;
                                padding-top: .25rem;
                            }
                        }
                    }
                }
            }
        }
        hr {

            margin: 20px auto;
            width: 90%;
        }
    }

    &.open {
        left: 0;
        width: 15%;
    }
}
