aside.sidebar {
    background-color: $white;
    border-right: 1px solid $lightGrey2;
    height: 100svh;
    left: -20%;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 4rem 0;
    position: fixed;
    top: 0;
    width: 15%;
    z-index: 1;

    ul.sidebar-nav {
        list-style-type: none;

        padding: 0;
        max-width: 100%;
        li {
            margin-bottom: 5px;
            width: 100%;
            a {
                background-color: transparent;
                color: $offBlack;
                display: block;
                font-family: $roboReg;
                font-size: 1.2rem;
                padding: .5rem 1rem;
                text-decoration: none;
                @include transition(all .4s ease-in-out);
                word-break: break-word;
                white-space: normal;
                width: 100%;

                &:hover,
                &.active {
                    background-color: transparent;
                    border: 0;
                    box-shadow: none;
                    color: $primary;
                    outline: none;
                    opacity: 1;
                    text-decoration: none;
                }
            }

            &.dropdown {
                width: 100%;

                a.dropdown-toggle {
                    cursor: pointer;
                }

                ul.dropdown-menu {
                    background-color: $white;
                    border: 0;
                    padding: .5rem 1.5rem;
                    position: relative;
                    width: 100%;

                    li {
                        margin-bottom: 5px;
                        a {
                            font-size: 1rem;
                        }
                    }
                }
            }
        }
        hr {

            margin: 20px auto;
            width: 90%;
        }
    }

    &.open {
        left: 0;
        width: 15%;
    }
}
